<h2>Consultar declaraciones</h2>
<div class="col-md-12">
    <div class="form-group">
        Filtro: <input class="form-control" type="text" ng-model="filtro"/>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Apellidos y Nombre o Razón Social del Declarante</th>
                <th>Tipo de documento</th>
                <th>Número</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="declaracion in index.declaraciones| filter:filtro track by $index">
                <td>{{declaracion.nombres}}</td>
                <td>{{declaracion.tipo_documento}}</td>
                <td>{{declaracion.numero}}</td>
                <td>
                    <p>
                        <a ng-click="index.mostrar(declaracion)" href="javascript:;">Ver</a>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>