<form class="form-horizontal" role="form">
    <div id="fila-1" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h2>Declaración de la Sobretasa Departamental de la Gasolina Motor</h2>Formato MHCP-DAF-017-2009-GAS
                    </center>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sección A: Información Entidad Territorial</div>
                <div class="panel-body">
                    <div class="row form-group">
                        <label class="col-sm-2 control-label">Departamento:</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="regVm.declaracion.entidad.departamento" class="form-control" />
                        </div>
                        <label class="col-sm-3 control-label">Código DANE:</label>
                        <div class="col-sm-3">
                            <input type="text" ng-model="regVm.declaracion.entidad.codigo_dane" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 control-label">NIT:</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="regVm.declaracion.entidad.nit" class="form-control" />
                        </div>
                        <label class="col-sm-3 control-label">D. V.:</label>
                        <div class="col-sm-3">
                            <input type="text" ng-model="regVm.declaracion.entidad.dv" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fila-2" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sección B: Calidad de declarante</div>
                <div class="panel-body">
                    <select ng-model="regVm.declaracion.calidad_declarante" class="form-control">
                        <option>Distribuidor mayorista</option>
                        <option>Otra calidad</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Sección C: Información de la declaración que se corrige</div>
                <div class="panel-body">
                    <div class="row form-group">
                        <label class="col-sm-2 control-label">Correción:</label>
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="regVm.declaracion.correccion.valor" class="form-control" />
                        </div>
                        <label class="col-sm-2">Número de declaración:</label>
                        <div class="col-sm-3">
                            <input type="number" min="0" ng-model="regVm.declaracion.correccion.numero_declaracion" class="form-control" />
                        </div>
                        <label class="col-sm-1 control-label">Fecha:</label>
                        <div class="col-sm-3">
                            <input id="datepicker" type="date" ng-model="regVm.declaracion.correccion.fecha" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fila-3" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Sección D: Período gravable</div>
                <div class="panel-body">
                    <label class="control-label col-sm-2">Año:</label>
                    <div class="col-sm-4">
                        <select ng-model="regVm.declaracion.anio" class="form-control">
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">Mes:</label>
                    <div class="col-sm-4">
                        <select ng-model="regVm.declaracion.mes" ng-options="mes for mes in regVm.meses" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="fila-4" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Sección E: Información general</div>
                <div class="panel-body">
                    <div id="fila-4-1" class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">E1: Apellidos y Nombre o Razón Social del declarante</div>
                                <div class="panel-body">
                                    <label class="control-label col-sm-6">Apellidos y Nombre o Razón Social:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" ng-model="regVm.declaracion.nombres">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">E2: Identificación del declarante</div>
                                <div class="panel-body">
                                    <label class="col-sm-2">Tipo de documento:</label>
                                    <div class="col-sm-2">
                                        <select ng-model="regVm.declaracion.tipo_documento" class="form-control">
                                            <option>CC</option>
                                            <option>NIT</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-2">Número:</label>
                                    <div class="col-sm-4">
                                        <input type="number" min="0" class="form-control" ng-model="regVm.declaracion.numero">
                                    </div>
                                    <label class="control-label col-sm-1">D.V.:</label>
                                    <div class="col-sm-1">
                                        <input type="number" min="0" class="form-control" ng-model="regVm.declaracion.dv">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fila-4-2" class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <strong class="col-sm-1">E3. Dirección:</strong>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" ng-model="regVm.declaracion.direccion">
                                    </div>
                                    <label class="control-label col-sm-1">Departamento:</label>
                                    <div class="col-sm-2">
                                        <select ng-model="regVm.declaracion.departamento" class="form-control">
                                            <option>Cesar</option>
                                            <option>Magdalena</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">Municipio:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" ng-model="regVm.declaracion.municipio">
                                    </div>
                                    <label class="control-label col-sm-1">Teléfono:</label>
                                    <div class="col-sm-2">
                                        <input type="number" min="0" class="form-control" ng-model="regVm.declaracion.telefono" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fila-5" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sección F: Liquidación
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Clase de producto</th>
                                <th>Galones gravado</th>
                                <th>Precio de referencia por galón</th>
                                <th>% de alcohol carbur.</th>
                                <th>Base gravable</th>
                                <th>Sobretasa</th>
                            </tr>
                            <tr ng-repeat="gasolina in regVm.declaracion.gasolinas">
                                <td>{{$index + 1}}. {{gasolina.clase}}</td>
                                <td>
                                    <input type="number" min="0" class="form-control" ng-model="gasolina.galones_gravado" ng-change="regVm.calcular(gasolina)"
                                    />
                                </td>
                                <td>
                                    <input type="number" min="0" class="form-control" ng-model="gasolina.precio_referencia" ng-change="regVm.calcular(gasolina)"
                                    />
                                </td>
                                <td>
                                    <input type="number" min="0" class="form-control" ng-model="gasolina.porcentaje_alcohol" ng-change="regVm.calcular(gasolina)"
                                    />
                                </td>
                                <td>
                                    <input type="number" min="0" class="form-control" ng-model="gasolina.base_gravable" disabled="" />
                                </td>
                                <td>
                                    <input type="number" min="0" class="form-control" ng-model="gasolina.sobretasa" disabled="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <input type="button" ng-click="regVm.guardar()" class="btn btn-success" value="Guardar" />
    </center>
</form>