<h2>Registrar Declaración</h2>
<form class="form-horizontal" role="form">
    <table class="table table-responsive table-bordered">
        <caption>Sección E: Información general</caption>
        <tr>
            <td>Apellidos y Nombre o Razón Social del Declarante:<input class="form-control" type="text" ng-model="main.declaracion.nombres"></td>
            <td>
                Tipo de documento:
                <select ng-model="main.declaracion.tipo_documento" class="form-control">
                    <option>CC</option>
                    <option>NIT</option>
                </select>
            </td>
            <td>Número:<input type="number" class="form-control" ng-model="main.declaracion.numero"></td>
            <td>D.V:<input type="number" class="form-control" ng-model="main.declaracion.dv"></td>
        </tr>
        <tr>
            <td>Dirección:<input class="form-control" type="text" ng-model="main.declaracion.direccion"></td>
            <td>
                Departamento:
                <select ng-model="main.declaracion.departamento" class="form-control">
                    <option>Cesar</option>
                    <option>Magdalena</option>
                </select>
            </td>
            <td>Municipio:<input type="text" class="form-control" ng-model="main.declaracion.municipio"></td>
            <td>Teléfono:<input type="number" class="form-control" ng-model="main.declaracion.telefono"/></td>
        </tr>
    </table>
    <table class="table table-responsive table-bordered">
        <caption>Sección F: Liquidación</caption>
        <tr>
            <th>Clase de producto</th>
            <th>Galones gravado</th>
            <th>Precio de referencia por galón</th>
            <th>% de alcohol carbur.</th>
            <th>Base gravable</th>
            <th>Sobretasa</th>
        </tr>
        <tr>
            <th>Gasolina corriente básica</th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_basica.galones_gravado" ng-change="main.calcular(main.declaracion.corriente_basica)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_basica.precio_referencia" ng-change="main.calcular(main.declaracion.corriente_basica)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_basica.porcentaje_alcohol"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_basica.base_gravable" disabled=""/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_basica.sobretasa" disabled=""/></th>
        </tr>
        <tr>
            <th>Corriente oxigenada</th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_oxigenada.galones_gravado" ng-change="main.calcular(main.declaracion.corriente_oxigenada)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_oxigenada.precio_referencia" ng-change="main.calcular(main.declaracion.corriente_oxigenada)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_oxigenada.porcentaje_alcohol"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_oxigenada.base_gravable" disabled=""/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.corriente_oxigenada.sobretasa" disabled=""/></th>
        </tr>
        <tr>
            <th>Gasolina extra básica</th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_basica.galones_gravado" ng-change="main.calcular(main.declaracion.extra_basica)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_basica.precio_referencia" ng-change="main.calcular(main.declaracion.extra_basica)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_basica.porcentaje_alcohol"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_basica.base_gravable" disabled=""/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_basica.sobretasa" disabled=""/></th>
        </tr>
        <tr>
            <th>Gasolina extra oxigenada</th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_oxigenada.galones_gravado" ng-change="main.calcular(main.declaracion.extra_oxigenada)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_oxigenada.precio_referencia" ng-change="main.calcular(main.declaracion.extra_oxigenada)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_oxigenada.porcentaje_alcohol"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_oxigenada.base_gravable" disabled=""/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.extra_oxigenada.sobretasa" disabled=""/></th>
        </tr>
        <tr>
            <th>Gasolina importada</th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.importada.galones_gravado" ng-change="main.calcular(main.declaracion.importada)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.importada.precio_referencia" ng-change="main.calcular(main.declaracion.importada)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.importada.porcentaje_alcohol"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.importada.base_gravable" disabled=""/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.importada.sobretasa" disabled=""/></th>
        </tr>
        <tr>
            <th>Gasolina NAL. ZON. ESP. FRONT</th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.fronteriza.galones_gravado" ng-change="main.calcular(main.declaracion.fronteriza)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.fronteriza.precio_referencia" ng-change="main.calcular(main.declaracion.fronteriza)"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.fronteriza.porcentaje_alcohol"/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.fronteriza.base_gravable" disabled=""/></th>
            <th><input type="number" class="form-control" ng-model="main.declaracion.fronteriza.sobretasa" disabled=""/></th>
        </tr>
    </table>
    <center><input type="button" ng-click="main.guardar()" class="btn btn-success" value="Guardar"/></center>
</form>